@model GurjarDairyFarm.Web.Models.HeroPageModel
<div class="jumbotron text-center" style="background-image: url('@Model.BackgroundImageUrl'); background-size: cover; color: white;">
    <div class="container">
        <h1 class="display-4">@Model.Title</h1>
        <p class="lead">@Model.Subtitle</p>
        <a href="#carousel" class="btn btn-primary btn-lg">Explore More</a>
    </div>
</div>
